@import url('https://fonts.googleapis.com/css?family=Raleway');
/*Portfolio*/
.portfolio {
    margin: 4em 0;
    position: relative;
}

.portfolio h1 {
    color: #23527c;
    margin: 2em;
}

.portfolio img {
    height: 15rem;
    width: 100%;
    margin: 1em;
}

.top-block .active {
    color: #23527c !important;
    font-size: 21px !important;
}

.link {
    opacity: 0.7;
    background: gray;
    color: #e6e8e3;
    position: absolute;
    font-size: 44px;
    top: 267px;
    left: 15px;
}


* {
    margin: 0;
    padding: 0;
}

body {
    width: 95%;
    margin: 0 auto;
}

.own-form_3 {
    margin: 24px;
}

.own-container {
    background: #ebebeb;
    height: 400px;
    padding-left: 0;
    padding-right: 0;
}

.block {
    display: block;
}

.own-form_4 {
    margin-top: 25px;
}

.own-info {
    display: inline-block;
    margin-bottom: 1px;
    padding: 1px;
}

.own-navbar {
    margin-bottom: 58px;
}

.own-warning {
    background-color: #f5f5f5;
    border-color: #f5f5f5;
}

.avatar {
    width: 170px;
    height: 170px;
    display: block;
}

.own-media-body {
    padding-top: 26px;
}

h3 {
    font-style: oblique;
}

.own-money {
    border: 1px solid #b5a81e;
}

.own-media {
    background: #fbf7e4;
    border: 1px solid #e3e3e3;
    border-radius: 9px;
    padding: 19px;
}

.own-group {
    margin-top: -5px;
    margin-left: -85px;
}

.own-group1 {
    margin-top: 29px;
    margin-left: -98px;
}

.user {
    position: relative;
    top: 1px;
    font-size: 16px;
    font-weight: 400;
}

.output {
    position: relative;
    top: 1px;
}


.vertical-menu {
    width: 200px;
    display: inline-block;
    vertical-align: top;
}

.vertical-menu a {
    opacity: 0.8;
    font-size: 18px;
    background-color: #d8d4d4;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.vertical-menu a:hover {
    background-color: #908c8c;
}

.vertical-menu a.active {
    background-color: #4CAF50;
    color: white;
}

.right-container {
    display: inline-block;
    margin-left: 25px;
}

.own-form_2 {
    margin-left: 15px;
}

.form-control {

}

.type_rate {
    font-weight: 700;
}

.own-form {
    position: relative;
    top: 56px;
}

.own-form_1 {
    position: relative;
    top: 25px;
}

.top-block a {
    font-size: 17px;
    color: #33b793;
}

.top-block a:hover {
    text-decoration: none;
    color: #23527c;
}

.user_name {
    margin: 0;
}

.login-input {
    border: none;
    background: none;
}

input.login-input:focus {
    outline: 0;
}

.content {
    font-size: 0px;
}

.category {
    font-size: 20px;
}

.rate {
    display: inline-block;
}

.buttonRate {
    margin-left: 15px;
}

.span_label {
    font-style: italic;
    display: block;
}

.top-block .active {
    color: #23527c !important;
    font-size: 21px !important;
}

.link {
    opacity: 0.7;
    background: gray;
    color: #e6e8e3;
    position: absolute;
    font-size: 44px;
    top: 267px;
    left: 15px;
}

.navbar {
    background: #F97300;
}

.nav-link,
.navbar-brand {
    color: #ecd9d9;
    cursor: pointer;
}

.nav-link {
    margin-right: 1em !important;
}

.nav-link:hover {
    background: #f4f4f4;
    color: #f97300;
}

.navbar-collapse {
    justify-content: flex-end;
}

.navbar-toggler {
    background: #fff !important;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}


.overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(244, 244, 244, 0.79);
}

.description {
    position: absolute;
    top: 30%;
    margin: auto;
    padding-left: 12em;
}

.description h1 {
    color: #F97300;
}

.description p {
    color: #666;
    font-size: 20px;
    width: 50%;
    line-height: 1.5;
}

.description button {
    border: 1px solid #F97300;
    background: #F97300;
    color: #fff;
}

.contact-form {
    margin: 6em 0;
    position: relative;
}

.contact-form h1 {
    padding: 2em 1px;
    color: #F97300;
}

.contact-form .right {
    max-width: 600px;
}

.contact-form .right .btn-secondary {
    background: #F97300;
    color: #fff;
    border: 0;
    margin-outside: 2px;
}

.contact-form .right .form-control::placeholder {
    color: #888;
    font-size: 16px;
}

.table-responsive {
    margin: 30px 0;
}

.table-wrapper {
    min-width: 1000px;
    background: #fff;
    padding: 20px 25px;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.table-title {
    padding-bottom: 15px;
    background: #666;
    color: #fff;
    padding: 10px 30px;

    border-radius: 3px 3px 0 0;

}

.table td, .table th {
    vertical-align: middle;
}

th.status {
    color: #666;
    text-align: center;
}

.email {
    color: #666;
    text-align: center;
}

.action {
    color: #666;
    text-align: center;
}

.date {
    color: #666;
    text-align: center;
}

.result {
    color: #666;
    text-align: center;
}

.score {
    color: #666;
    text-align: center;
}


.id {
    color: #666;
    text-align: center;
}

.sport {
    color: #666;
    text-align: center;
}

.league {
    color: #666;
    text-align: center;
}

.team {
    color: #666;
    text-align: center;
}

.t {
    color: #666;
    text-align: center;
}

.name {
    color: #666;
    text-align: center;
}
.team1 {
    color: #666;
    text-align: center;
}
.team2 {
    color: #666;
    text-align: center;
}

.category{
    color: #666;
    text-align: center;
}

.draw {
    color: #666;
    text-align: center;
}

.date {
    color: #666;
    text-align: center;
}

.amount {
    color: #666;
    text-align: center;
}

.bet {
    color: #666;
    text-align: center;
}

.role {
    color: #666;
    text-align: center;
}

.action {
    color: #666;
    text-align: center;
}

.name {
    color: #666;
    text-align: center;
}
.username {
    color: #666;
    text-align: center;
}

.useremail {
    color: #666;
    text-align: center;
}

.userstatus {
    color: #666;
    text-align: center;
}

.userrole {
    color: #666;
    text-align: center;
}

.teamleague {
    color: #666;
    text-align: center;
}
.teamcategory {
    color: #666;
    text-align: center;
}

.button {
    margin-left: 5px;
}


.team {
    margin: 4em 0;
    position: relative;
}

.team h1 {
    color: #F97300;
    margin: 2em;
}

.team .item {
    position: relative;
}

.team .des {
    background: #F97300;
    color: #fff;
    text-align: center;
    border-bottom-left-radius: 93%;
    transition: .3s ease-in-out;
}


html, h1, h2, h3, h4, h5, h6, a {
    font-family: "Raleway";
}

.about {
    margin: 4em 0;
    padding: 1em;
    position: relative;
}

.col-sm-10 {
    color: #F97300;
}

.about img {
    height: 50%;
    width: 50%;
    border-radius: 50%
}

.about span {
    display: block;
    color: #888;
    position: absolute;
    left: 115px;
}

.about .desc {
    padding: 2em;
    border-left: 4px solid #10828C;
}

.about .desc h3 {
    color: #10828C;
}

.about .desc p {
    line-height: 2;
    color: #888;
}

.creditCardForm {
    max-width: 700px;
    background-color: #fff;
    margin: 100px auto;
    overflow: hidden;
    padding: 25px;
    color: #4c4e56;
}

.creditCardForm label {
    width: 100%;
    margin-bottom: 10px;
}

.creditCardForm .heading h1 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #F97300;
}

.creditCardForm .payment {
    float: left;
    font-size: 18px;
    padding: 10px 25px;
    margin-top: 20px;
    position: relative;
}

.creditCardForm .payment .form-group {
    float: left;
    margin-bottom: 15px;
}

.creditCardForm .payment .form-control {
    line-height: 40px;
    height: auto;
    padding: 0 16px;
}

.creditCardForm .owner {
    width: 63%;
    margin-right: 10px;
}

.creditCardForm .CVV {
    width: 35%;
}

.creditCardForm #sum {
    width: 51%;
}

.creditCardForm #card-number-field {
    width: 100%;
}

.creditCardForm #expiration-date {
    width: 49%;
}

.creditCardForm #credit_cards {
    width: 50%;
    margin-top: 25px;
    text-align: right;
}

.creditCardForm #pay-now {
    width: 100%;
    margin-top: 25px;
}

.creditCardForm .payment .btn {
    width: 100%;
    margin-top: 3px;
    font-size: 24px;
    color: white;
}

.creditCardForm .payment select {
    padding: 10px;
    margin-right: 15px;
}

.transparent {
    opacity: 0.2;
}

@media (max-width: 650px) {
    .creditCardForm .owner,
    .creditCardForm .CVV,
    .creditCardForm #expiration-date,
    .creditCardForm #credit_cards {
        width: 100%;
    }

    .creditCardForm #credit_cards {
        text-align: left;
    }

    .creditCardForm #sum {
        text-align: right;
    }
}

.list-group {
    padding-top: 20px;
    padding-bottom: 20px;
}

.list-group-second {
    padding-bottom: 20px;

}

.personal-form {
    margin: 6em 0;
    position: relative;
}

.table-title h2 {
    margin: 5px 0 0;
    font-size: 24px;
}

.table-title .btn-group {
    float: right;
}

.table-title .btn {
    color: #fff;
    float: right;
    font-size: 13px;
    border: none;
    min-width: 50px;
    border-radius: 2px;
    border: none;
    outline: none !important;
    margin-left: 10px;
}

.table-title .add-new {
    float: right;
    height: 30px;
    font-weight: bold;
    font-size: 12px;
    text-shadow: none;
    min-width: 100px;
    line-height: 13px;
}

.table-title .add-new i {
    margin-right: 4px;
}

.add-new {
    float: right;
}

.btn.btn-warning {
    background-color: #F97300;
}

.pg-normal {
    color: #0000FF;
    font-weight: normal;
    text-decoration: none;
    cursor: pointer;
}

.pg-selected {
    color: #800080;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}
